<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.due.cloud.module.security.mapper.TbSystemRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.due.cloud.module.security.entity.TbSystemRole">
        <result column="data_id" property="dataId" />
        <result column="data_version" property="dataVersion" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>
    <select id="selectDataListByPath" resultType="com.due.cloud.module.security.entity.TbSystemRole">
        SELECT r.data_id, r.`code`,r.create_time,r.`name`,r.description
        FROM tb_system_resource re INNER JOIN tb_system_role_resource_mapping  rm ON re.data_id = rm.resource_id
                                   JOIN tb_system_role r ON rm.role_id = r.data_id
        WHERE 	re.path = #{pathUrl} AND r.data_status = 1 AND rm.data_status = 1 AND r.data_status = 1
    </select>
    <select id="selectDataListByMemberId" resultType="com.due.cloud.module.security.entity.TbSystemRole">
        SELECT r.data_id, r.`code`,r.create_time,r.`name`,r.description
        FROM tb_system_role_member_mapping rm INNER JOIN tb_system_role r ON rm.role_id = r.data_id
        WHERE rm.member_id = #{memberId} AND rm.data_status = 1 AND r.data_status = 1
    </select>

</mapper>
